<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object  %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :telephone %>
  <%= f.text_field :telephone, class: "form-control" %>

  <%= f.label :sex %>
  <%= f.select :sex, options_for_select(
    [[ t("male"), false], [t("female"), true]], 2
    ), {}, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <div class="buton_action">
    <%= f.submit class: "my_btn" %>
  </div>
<% end %>
