<div class="row">
  <h1><%= t ".title" %></h1>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered">
        <tr class="first_colum">
          <th><%= t ".stt" %></th>
          <th><%= t ".category_name" %></th>
          <th><%= t ".create_lesson" %></th>
        </tr>
        <% @categories.each_with_index do |category, stt| %>
          <tr>
            <td><%= stt + 1 %></td>
            <td><%= link_to category.conten, category %></td>
            <td class="center"><%= link_to t(".create_lesson"),
              lessons_path, class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="center">
      <%= will_paginate %>
    </div>
</div>
